<div class="pdp_page">
    <div class="imgPdp">
        <img src={{pdpObj.imgUrl}} alt="">
    </div>
    <div class="info-pdp">
        <h1>Nome: {{pdpObj.name}}</h1>
        <p>Preço: R${{pdpObj.price}}</p>
        <p>Avaliação: {{pdpObj.rate}} estrelas</p>
    </div>
</div>