<h1>Usuario logado</h1>
<h2>bem vindo ao dashboard</h2>

<a href="/">home</a> 

<ol>
    {{#each items}}
    
        <li># - {{this}}</li>
    
    {{/each}}
</ol>

<a href="/post"> Ir para os posts</a>