<section>
    <div class="title">
        <h2>Mais vendidos</h2>
    </div>
    
    <div class="cards_home">
        {{#each products}}
    
            {{> pdp}}
    
        {{/each}}
    </div>
</section>